
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html body{
    font-size: 10px;
    font-family: 'Prompt', sans-serif;
}
a{
    text-decoration: none;

}
.container{
    min-height: 100vh;
    padding: 10rem;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: left;
}
#hero{
    background-image:url(mountain.png) ;
    background-size: cover;
    background-position: top center;
    /* background-color:#353538; */
    position: relative;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    /* background-color:#353538; */
    opacity: .7;
    z-index: -1;

}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    
    
}
#hero h2{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
color: #FFFF
}
#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
    
}
.navbar-brand font{
    height: 40px;
    padding-left: 30px ;

}
.navbar-nav li {
    padding: 0 10px;
}


.navbar{
    background: #353538;

}
.navbar-toggler{
border: none !important;
}
.nav-like{
    color: rgb(255, 255, 255) ;
    font-weight: 600;
    font-size: 16px;

}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

}


#flexbox.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0px 0px;
}

#item.item {
    box-sizing: border-box;
    width: 180px;
    margin-bottom: 0px;
    padding: 0px 0px;
}

#content.content {
    color: #242424;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
}

h1, h2, h3, h4, h6, nav, .nav, .menu, button, .button, .btn, .price, ._heading, .wp-block-pullquote blockquote, blockquote, label, legend, a, .card-header, th , display-4 {
    font-family: "Prompt", "Open Sans script=all rev=1" !important;
    font-weight: 700 !important;

    }
